
@{
    ViewBag.Title = Resources.Global.Introduction_Menu;
}

<!-- This is a *view* - HTML markup that defines the appearance of your UI -->

<p>@Resources.Home.Introduction.FirstName: <strong data-bind="text: firstName"></strong></p>
<p>@Resources.Home.Introduction.LastName: <strong data-bind="text: lastName"></strong></p>

<p>@Resources.Home.Introduction.FirstName: <input data-bind="value: firstName" /></p>
<p>@Resources.Home.Introduction.LastName: <input data-bind="value: lastName" /></p>

<p>@Resources.Home.Introduction.FullName: <strong data-bind="text: fullName"></strong></p>

<button data-bind="click: capitalizeLastName">
    @Resources.Home.Introduction.Uppercase
</button>

@section Scripts{
    <script>
        // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
        function AppViewModel() {
            this.firstName = ko.observable("Bert");
            this.lastName = ko.observable("Bertington");

            this.fullName = ko.computed(function () {
                return this.firstName() + " " + this.lastName();
            }, this);

            this.capitalizeLastName = function () {
                var currentVal = this.lastName();        // Read the current value
                this.lastName(currentVal.toUpperCase()); // Write back a modified value
            };
        }

        // Activates knockout.js
        ko.applyBindings(new AppViewModel());
    </script>
}