<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="overlay"></div>
    <div id="loading">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Global.APP_NAME, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Global.Index_Menu, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Global.Introduction_Menu, "Introduction", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">@Resources.Global.Examples_Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resources.Global.Collections_Menu, "Collections", "Home")</li>
                            <li>@Html.ActionLink(Resources.Global.SPA_Menu, "SPA", "Home")</li>
                            <li>@Html.ActionLink(Resources.Global.CustomBindings_Menu, "CustomBindings", "Home")</li>
                            <li>@Html.ActionLink(Resources.Global.DataManipulation_Menu, "DataManipulation", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(Resources.Global.Demo_Menu, "Demo", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">@Resources.Global.Courses_Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">@Resources.Global.KnockoutMVVM_Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink(Resources.Global.KnockoutGettingStarted_Menu, "Index", "Courses")</li>
                                    <li>@Html.ActionLink(Resources.Global.WithoutDataBinding_Menu, "WithoutDataBinding", "Courses")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="padding:5px">

            @{
                foreach (var i in PDWebCore.Helpers.MultiLanguage.LanguageHelper.AvailableLanguages)
                {
                    @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Home", new { lang = i.LanguageCultureName }, null) <text> </text>
                }
            }
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info">
                @TempData["Message"]
            </div>
        }
        <h1>@ViewBag.Title</h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Global.APP_NAME</p>
            @RenderSection("footer", required: false)
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
